<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./assets/SCSS/styles.css">
  <title>SignIn</title>
</head>
<body class="signin-background">
  <div class="main-container">
    <div class="top-nav">
      <div class="banner-header">
        <h1>Family Health Portal</h1>
      </div>
      <div class="register-button">
        <a href="./register_page.html" target="_self">Register</a>
      </div>
    </div>
    <div class="content-container">

      <div class="signin-app">

        <section class="signinform-container">
          <h1>Sign In</h1>

          <div class="errors-container">
            <p v-if="errors.length">
              <b>Please correct the following error(s):</b>
              <ul>
                <li v-for="error in errors">{{ error }}</li>
              </ul>
            </p>
          </div>

          <form class="signin-form" @submit.prevent="processSignin">
            <label for="email" class="label">Email:</label>
              <input 
                type="text" 
                name="email"
                class="input"  
                v-model="email">
                <br>

            <label for="password" class="label">Password:</label>
              <input 
                type="password" 
                name="password"
                class="input"  
                v-model="password">
                <br>

            <button type="submit"> Sign In </button><br>
        
          </form>
        </section>
      </div>
    </div>
  <footer>
    <p>&#169 Designed By | Stephanie Keramis 2022</p>
  </footer>
</div>    
</body>
</html>