.top-nav {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  min-height: 7vh;
  
  background-color: $darkBlue;
  color: $pewter;
  .banner-header {
    @include flex-center;
    width: 95%;   
  }
  .signin-button, .register-button {
    @include flex-center;
    width: 5%;
    min-width: 120px;
    background-color: $blueGray;
    cursor: pointer;
    &:hover {
      background-color: $yellow;
      a { color: $darkBlue; }
    }
  }
  a { 
    font-size: 1.2rem;
    text-decoration: none;
    color: $pewter;
    }
}

@media only screen and (max-width: 600px) {
  .top-nav {
    .banner-header {
      width: 80vw;
    }
    .signin-container {
      width: 20vw;
      a {
        font-size: 20px;
      }
    }
  }
}